/* сброс стилей браузера */
@import './reset.scss';
/* шрифты */
@import './fonts.scss';
/* иконочный шрифт */
@import './icons.scss';
/* миксины */
@import './mixins.scss';

/*  цвета */
$black: #040a0a;
$turquoise: #43ffd2;
$darkPink: #7d2253;
$lightPink: #d978ac;
$white: #ffffff;
$grey: #555555;

/* шрифты - ff */
$fontFamilyOswald: 'Oswald', sans-serif;
$fontFamilyCormorant: 'Cormorant', serif;

$maxWidth: 1440;
$maxWidthContainer: 1150;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$letterSpacing: 0.1em;

.container {
  max-width: $maxWidthContainer + px;
  padding: 0 20px;
  margin: 0 auto;
}

* {
  font-family: $fontFamilyOswald;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

a,
button {
  font-family: $fontFamilyOswald;
}

html,
body {
  font-size: 14px;
  color: $white;
}

/* fallback for background picture */
.global-bg {
  background: #000;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
}

/* ui */

a {
  color: $white;
}

/* button */

.btn {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  padding-block: 15px;
  padding-inline: 50px;

  transition: all 0.3s ease-out;
}

/* for screen readers */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.d-block {
  display: block;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

section {
  padding-block: clamp(50px, 100px, 100px);
}

.section-title {
  font-size: 100px;
  font-weight: normal;
  font-family: $fontFamilyCormorant;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: normal;
}
