@mixin hover-underline($color) {
  @media (any-hover: hover) {
    &::before {
      content: '';
      bottom: 10px;
      background-color: transparent;
      position: absolute;
      height: 1px;
      width: 100%;
      transition: all 0.3s ease-out;
    }
    &:hover {
      color: $color;
      &::before {
        bottom: 0px;
        background-color: $color;
      }
    }
  }
}

@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }
}

@mixin glass-shadow($color: rgba(0, 0, 0, 0.2), $borderRadius: 10px) {
  background-color: $color;
  border-radius: $borderRadius;
}
