.footer {
  padding: 2em 0 5em 0;

  text-transform: uppercase;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: clamp(10px, 20px, 20px);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-weight: 200;
  }

  &__column {
    width: max-content;
  }

  &__title {
    color: $turquoise;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__text {
    max-width: 250px;

    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.04em;
  }
}

/* media-queries */

@media (max-width: $md4+px) {
  .footer {
    text-align: center;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__column {
    flex: 1 1 auto;
  }

  .footer__list {
    display: none;
  }

  .footer__text {
    font-size: 10px;
  }

  .contacts__social {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .footer__column:first-child {
    order: 5;
  }
}

/* contacts */

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__info {
    color: $turquoise;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.7em;
  }
  &__text {
    display: block;

    font-size: 10px;
    text-transform: uppercase;
  }

  &__social {
    margin-top: 2em;
  }
}

/*  social */

.social {
  display: flex;
  gap: 1em;
  &__link {
    color: $turquoise;
    font-size: 2em;

    transition: all 0.3s ease-out;
    &:hover {
      color: $lightPink;
    }
  }
}
