.nav {
  display: flex;
  flex: 1 1 auto;
  gap: 2em;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    align-items: center;

    letter-spacing: 0.04em;
    &-item a {
      position: relative;

      color: $white;
      text-transform: uppercase;

      @include hover-underline($turquoise);
    }
  }
}
